@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
  color: #fff;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: url("./../images/bg.png");
  background-position: 100px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background: black;
}

.container2 {
  background: black;
}

.cover {
  width: 90vw;
  margin: auto;
}

.heading {
  padding-top: 200px;
  font-size: 50px;
  width: 30vw;
  color: #ea907a;
}

a {
  text-decoration: none;
}

.highlight {
  color: #ea907a;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 65%,
    rgba(234, 144, 122, 0.33) 65%
  );
}

.cover h2 {
  padding-top: 9px;
  color: rgba(234, 144, 122);
  font-weight: 200;
  font-size: 20px;
}

.cover p {
  font-weight: 100;
  padding-top: 80px;
  width: 400px;
}

.next {
  background: black;
  height: 100vh;
  width: 90vw;
  margin: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.profile-desc {
  width: 30vw;
  padding-top: 20px;
}

.profile-name h1 {
  color: #ea907a;
  padding-top: 20px;
}

.profile img {
  border-radius: 100px;
}

@media screen and (max-width: 600px) {
  .heading {
    width: 60vw;
  }
  .main {
    height: auto;
  }
  .cover p {
    width: 50vw;
  }

  .cover {
    width: 90vw;
    margin: auto;
  }
  .next {
    flex-direction: column;
  }

  .container {
    padding-bottom: 300px;
  }

  .container2 {
    padding-bottom: 300px;
  }

  .next {
    text-align: left;
  }
}
