
.footer {
  font-family: monospace;
  text-align: center;
  height: 13vh;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  vertical-align: middle;
}

.footer img {
    display: block;
    text-align: center;
}
