@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500&display=swap");

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Nunito Sans";
  background: #000;
  color: #fff;
  width:100vw;
  overflow-x: hidden;
}

.how {
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  font-weight: 600;

}

.how span {
       background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 70%,
    rgb(234, 144, 122, 0.53) 30%
  );

}



.main {
  width: 90vw;
  margin: auto;
  padding-bottom: 50px;
}

.item {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item div {
  flex: 1;
}

.item-img-box {
  position: relative;
}

.item-img {
  position: absolute;
  right: 5vw;
}

.item-info {
  
  padding-left: 5vw;
  height: 200px;
}


.item-cont {
  width: 25vw;
  padding-top: 5px;
}

.item2 {
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item2 div {
  flex: 1;
}

.item2-img-box {
  position: relative;
  left: -1vw;
}

.item2-img {
  position: absolute;
}

.item2-info {
  height: 200px;
  padding-left: 12vw;
}

.item2-cont {
    width: 25vw;
    padding-top:5px;
}

.how {
    color: #fff;
    padding-top:150px;
    padding-bottom: 50px;
}

h2 {
  display: inline;
  width: 10vw;
  color: #ea907a;
  text-decoration: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 70%,
    rgb(234, 144, 122, 0.33) 30%
  );
}

p {
    font-family: "Nunito";
}


@media screen and (max-width: 600px) {
    .item-cont {
	width:150px;
	
    }
.item2-cont {
	width:150px;
	
    }
    .item {
	padding-bottom: 100px;
    }
.item2 {
	padding-bottom: 100px;
    }
}
